extends base

block content
  p Olá #{firstName},
  p Verifique sua conta para poder fazer o login
  table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation' border='0' cellpadding='0' cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}` target='_blank') Verificar sua conta
  p Boa sorte! CEO da ProjectMate.